.log {
	font-family: "Courier New";
	font-weight: 300;
	padding: 15px 10px;
	margin-left: 20px;
}

.log:nth-child(odd) {
	background: #f4f8fd;
}

.log .date{
	color: #a5a5a5;
}

.log .meta  {
	display: inline-block;
	padding-right: 15px;
}