/*----------------------------*/
/* logs */

.logs {
	margin-top: 70px;
	margin-left: 20px;
}

.log {
	font-family: "Courier New";
	font-weight: 300;
	padding: 20px 10px;
}

.log .date{
	color: #c3c3c3;
}

.log .meta  {
	display: inline-block;
	padding-right: 15px;
	color: #c3c3c3;
}

/* color code logs by component */

.dif-components .log.web {
	background-color: #F4FAFF;
}

.dif-components .log.receiver {
	background-color: #EFFFEF;
}

.dif-components .log.native {
	background-color: #FDFFF4;
}




/*----------------------------*/
/* filter */

.filter-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-left: 20px;
	padding: 15px 10px;
	background: rgba(255, 255, 255, 0.6);
}

.filter-input {
	padding: 5px 10px;
	font-size: 18px;
	margin-right: 10px;
}

.filter-input,
.filters,
.filter,
.filter .filter-pattern,
.filter .button {
	display: inline-block;
}

.filter {
	font-size: 18px;
	background: #3867d0;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 10px;
}

.filter .button {
	cursor: pointer;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.filter-container .filter-operator-switch{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	/*background: url("https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/cancel-2-32.png");*/
	background-size: contain;
	cursor: pointer;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.filter-container .switcher{
	display: inline-block;
	margin: 0 5px;
	border: 1px solid #BFBFBF;
	cursor: pointer;
}

.filter-container .switcher .switcher-option{
	display: inline-block;
	padding: 5px;
	width: 35px;
	height: 16px;
	text-align: center;
}

.filter-container .switcher .switcher-option.active{
	background: #DCDCDC;
}

.filter-container .clear-logs{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	background: url("https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/cancel-2-32.png");
	background-size: contain;
	cursor: pointer;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}