/*TODO: hardware accelerate transitions*/

#menu {
	position: fixed;
	top: 0;
	left: -150px;
	width: 150px;
	height: 100%;
	padding: 15px 0;
	background: #fff;
	z-index: 10;

	-webkit-transition: left 0.5s; /* Safari */
	transition: left 0.5s;
}

.opened #menu {
	left: 0px;
}

#menu .nav-item {
	display: block;
	padding: 10px;
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

#menu .nav-item.active {
	background: #E5EFFB;
}

.menu .menu-icon {
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	background-color: #DCDCDC;
	cursor: pointer;
}

.menu .menu-icon .menu-icon-image{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/menu2-64.png');
}

.menu .underlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgba(0,0,0,0);
	z-index: 9;

	-webkit-transition: background-color 0.5s; /* Safari */
	transition: background-color 0.5s;
}

.opened.menu .underlay {
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}