<template name="logs">

	<div class="filter-container">
		<div class="clear-logs" title="Clear logs"></div>
		<div class="filter-operators switcher">
			<div class="switcher-option active" data-switcher-option="and"> and </div>
			<div class="switcher-option" data-switcher-option="or"> or </div>
		</div>
		<input class="filter-input" type="text"/>
		<div class="filters">
			{{#each filters}}
				<div class="filter">
					<div class="filter-pattern">{{pattern}}</div>
					<div class="delete button" data-filter-pattern="{{pattern}}"> X </div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="logs {{difComponents}}">
		{{#each logs}}
		<div class="log {{component}}">
			<div class="date">{{formatDate createdAt}}</div>
			<div class="message">{{msg}}</div>

			<div class="meta ip">{{ip}}</div>
			<div class="meta host">{{host}}</div>
			<div class="meta id">{{id}}</div>
			<div class="meta component">{{component}}</div>
		</div>
		{{/each}}
	</div>

</template>
