<template name="logs">

	<div class="filter-container">
		<div class="clear-logs"></div>
		<input class="filter-input" type="text"/>
		<div class="filters">
			{{#each filters}}
				<div class="filter">
					<div class="filter-pattern">{{pattern}}</div>
					<div class="delete button" data-filter-pattern="{{pattern}}"> X </div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="logs">
		{{#each logs}}
		<div class="log">
			<div class="date">{{formatDate timestamp}}</div>
			<div class="message">{{message}}</div>

			<div class="meta ip">{{meta.ip}}</div>
			<div class="meta host">{{meta.host}}</div>
			<div class="meta id">{{meta.id}}</div>
			<div class="meta component">{{meta.component}}</div>
		</div>
		{{/each}}
	</div>

</template>
